.heading{
    color: red;
    text-align:center;

}
.Paragraph{
    background-color:green;
    color:red;
}
.sovarBoro{
    text-align: center;
    color: royalblue;
    background-color: black;
    font-size: 50px;

}