
.box-1{
    margin-top: 30px;
    background-color: rgb(125, 75, 75);  
    width: 450px;
    margin-left: 100px; 
    padding: 50px 0px; 
    text-align: center;
    border-radius: 0px 60px 60px 0px;
    

}
.box-2{
    background-color: rgb(79, 125, 75);
    width:450px;
    margin-left:100px; 
    padding:50px 0px; 
    text-align:center;
    border-radius:60px 0px 0px 60px;
    margin-left: 620px;
 
    
}
.box-3{
    background-color: rgb(52, 14, 157);
    width: 450px;
    margin-left: 100px; 
    padding: 50px 0px; 
    text-align: center;
    border-radius: 0px 60px 60px 0px;
    margin-bottom: 30px;

}
 