*{
    padding: 0px;
    margin: 0px;
    
} 
 /* Part Of Margin */
.number1{
    color: black;
    background-color: blue;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 150px;
   
    
}
/* Part Of Padding */
.number2{
    color:white;
    background-color: violet;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
     
}
/* Part Of Border*/
.number3{
    color: red;
    background-color: green;
    border:2px solid rgb(223, 62, 13);
   
}
 